/*----- Carrousel -----*/

/* ===== VIEWPORT ===== */
.carousel-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 500px;
}

/* ===== TRACK ===== */
.carousel-track {
	display: flex;
	height: 100%;
	transition: transform 0.5s ease;
	will-change: transform;
}

/* ===== SLIDES ===== */
.carousel-items {
	flex: 0 0 100%;
	height: 100%;
}

.carousel-items img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

/* ===== CONTROLS ===== */
#header {
	position: relative;
}

#carousel-controler {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: space-between;
	z-index: 10;
	pointer-events: none;
}

.carousel-btn {
	width: 80px;
	height: 100%;
	border: none;
	color: white;
	font-size: 2rem;
	cursor: pointer;
	pointer-events: auto;
    background: none;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.carousel-btn:hover {
    opacity: 1;
}

/* ===== INDICATORS ===== */
#carousel-indocator {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 10px;
	z-index: 20;
}

.carousel-indicator-btn {
	width: 30px;
	height: 3px;
	border: none;
	background: rgba(255, 255, 255, 0.4);
	cursor: pointer;
}

.carousel-indicator-btn.active {
	background: white;
}

/* ---- Gallery -----*/

.gallery-container {
    max-width: 1140px;
    margin: .5rem auto;
}

.gallery-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.gallery-item {
	width: 100%;
	aspect-ratio: 1 /1;
	object-fit: cover;
	cursor: pointer;
	transition: opacity 0.3s ease, transform 0.3s ease;
}

.gallery-item.hidden {
	display: none;
}

/* filtres */

.gallery-filter {
	display: flex;
	gap: 0.5rem;
	margin-bottom: 1rem;
	flex-wrap: wrap;
    justify-content: center;
}

.gallery-filter button {
	padding: 0.5rem 1rem;
    padding-inline: 10px;
	border: none;
	cursor: pointer;
	background: #fff;
    transition: all 0.3s ease;
    font-size: 1rem;
    box-sizing: border-box;
}

.gallery-filter button.active {
    background: #817631;
    color: #fff;
}


/* ===== RESPONSIVE ===== */

/* Tablette : 2 colonnes */
@media (max-width: 1024px) {
	.gallery-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Mobile : 1 colonne */
@media (max-width: 600px) {
	.gallery-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}


/* ----- Modal ----- */
.modal-overlay {
	position: fixed;
	inset: 0;
	background: rgba(0,0,0,0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
}

.modal-overlay.active {
	opacity: 1;
	pointer-events: auto;
}

.modal-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-image {
	width: 100%;
	height: auto;
    background-color: #fff;
    padding: 1rem;
}

.modal-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #000;
    background: #fff;
    border: none;
    cursor: pointer;
    width: 30px;
    align-items: center;
}

.modal-btn.prev {
	left: -15px;
}

.modal-btn.next {
	right: -15px;
}
